<header class="bg-blue-600 text-white py-4">
    <h1 class="text-2xl font-bold text-center font-sans">
      Dependency Tracker
    </h1>
  </header>

  
  <div class="flex flex-row flex-1 p-4 gap-4 h-[91vh] bg-slate-200">
    
    
    <div class="w-[78vw] bg-white rounded shadow p-4 h-full overflow-hidden">
      <h2 class="font-semibold mb-2">Graph Area</h2>
      <app-graph></app-graph>
    </div>
    <div class="w-[25vw] bg-white rounded shadow p-4 h-full">
      <h2 class="font-semibold mb-2">Information</h2>
      <app-side-panel></app-side-panel>
    </div>

  </div>